html, body, #wrapper {
	width: 100%;
	text-align: center;
	font-family: Consolas, sans-serif;
	margin: 0;
	padding: 0;
}

button {
	padding: 5px;
	font-family: Consolas, sans-serif;
	min-width: 100px;
}

button:hover, #speed:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 26px;
}

#startBtn, #stopBtn {
	border-radius: 5px 5px 5px 25px;
}

#controlsBtn {
	border-radius: 5px 5px 25px 5px;
}

#board, #mini-board, #inner-wrapper,  #outer-wrapper{
	border-collapse: collapse;
	margin: 0 auto;
}

#board {
	display: inline-block;
	border-right: 3px solid black;
	border-left: none;
	border-top: none;
	border-bottom: none;
	float: left;
}

#board td, #mini-board td {
	width:  10px;
	height: 10px;
	text-align: center;
	color: white;
	font-size: 9px;
	border-color: #99A09C;
}

#mini-board {
	border: none;
}

.gray {
	background: url('../img/gray.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

.black {
	background: url('../img/black.png') 0 0 no-repeat;
	background-size: 100% 100%;
}

#inner-wrapper {
	display: inline-block;
	border: 3px inset #777964;
	vertical-align: middle;
	background-color: #A0A5A2;
	padding: 3px;
}

#outer-wrapper {
	background-color: #777964;
	border-radius: 13px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 23px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 23px 0px rgba(50, 50, 50, 0.75);
}

#settings {
	margin: 10px 0;
}

#status {
	font-weight: bold;
	margin: 10px 0;
}

#score {
	display: inline-block;
	text-align: left;
	float: right;
	vertical-align: top;
}

#score table {
	width: 100%;
	margin-bottom: 10px;
	text-align: right;
	font-size: 12px;
}

#speed {
	background: transparent;
	font-size: 16px;
	border-radius: 0;
	height: 28px;
    background-color: #ddd;
    border: 1px solid #ccc;
}

#points, #best, #lines {
	font-size: 16px;
}